<h1>Detail Page for <%= @snack.name %></h1>


<h3>Name:  <%= @snack.name %></h3>
<h4 id="calories">Calories: <%= @snack.calories %></h4>
<h4>Deliciousness: <%= @snack.deliciousness %></h4>

<%= link_to "Snacks Index Page", snacks_path %>